@model FirstCoreApp.Models.Teammember

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teammember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control"
                       accept="image/*"
                       class="custom-file-input"
                       id="oneImg"
                       onchange="MyImage()" />
                />
                <span asp-validation-for="File" class="text-danger"></span>
                <input asp-for="Image" class="form-control" hidden />
            </div>
            <div class="form-group" id="ShowImage">
                <img src="~/Images/Teammembers/@Model.Image" alt="@Model.Name" style="height:150px;width:150px;object-fit:cover;" id="i" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function MyImage() {
        file = window.oneImg
        if (file.files.length > 0) {
            name = file.files[0].name;
            imgPath = window.URL.createObjectURL(file.files[0]);
            window.i.alt = name;
            window.i.src = imgPath;
        } else window.ShowImage.innerHTML = "<label>No Image Selected</label>";
    }
</script>